{% extends 'base.html.twig' %}

{% block contenu %}
    <div class="container mt-4">
        <table class="table">
            <thead>
            <tr>
                <th>SALARIE</th>
                <th>ADRESSE</th>
                <th>CP</th>
                <th>VILLE</th>
                <th>DATE EMBAUCHE</th>
                <th>ENTREPRISE</th>
            </tr>
            </thead>
            <tbody>

            {% for salarie in salaries %}
                <tr>
                    <td><a href="{{ path('salarie_show', {'id':salarie.id}) }}">
                            {{ salarie.nom ~ ' ' ~ salarie.prenom }}</a></td>
                    <td>{{ salarie.adresse }}</td>
                    <td>{{ salarie.cp }}</td>
                    <td>{{ salarie.ville }}</td>
                    <td>{{ salarie.dateEmbauche | date('d/m/Y') }}</td>
                    <td>{{ salarie.entreprise.raisonsociale }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="container mt-3">
            <a class="btn btn-primary" href="{{ path('salarie_edit', {'id':salarie.id}) }}" role="button">Modifier</a>
        </div>

        <div class="container">
            <a name="home" id="home" class="btn btn-primary" href="{{ path('home') }}" role="button">Back</a>
        </div>
    </div>
{% endblock %}

