{% extends 'base.html.twig' %}

{% block contenu %}
    <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th>RAISON SOCIALE</th>
                <th>ADRESSE</th>
                <th>SIRET</th>
                <th>CP</th>
                <th>VILLE</th>
                <th>SALARIES</th>
            </tr>
            </thead>
            <tbody>

            {% for entreprise in entreprises %}
                <tr>
                    <td><a href="{{ path('entreprise_show', {'id':entreprise.id}) }}">
                            {{ entreprise.raisonsociale }}</a></td>
                    <td>{{ entreprise.adresse }}</td>
                    <td>{{ entreprise.siret }}</td>
                    <td>{{ entreprise.cp }}</td>
                    <td>{{ entreprise.ville }}</td>
                    {% for salarie in entreprise.salaries %}
                        <td>{{ salarie.prenom  ~ ' ' ~ salarie.nom }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
{% endblock %}

